.checkout-page {
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page-router {
    margin: 20px 0px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .kantiner {
      flex-direction: row;

      div {
        font-family: var(--font);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        color: #041e42;
      }
      .drop {
        margin: 0px 10px;
      }
      .active {
        color: #626974;
      }
    }
  }
}
.checkout-page .title-div {
  font-family: var(--font);
  font-style: normal;
  font-size: 28px;
  font-weight: 500;
  line-height: 40px;
  text-align: center;

  color: #041e42;
}

.checkout-page .checkout-frame {
  margin-top: 60px;
  width: 100%;
  height: 1474px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}
.checkout-frame .kantiner {
  flex-direction: row;
  justify-content: space-between;
}
.kantiner .checkout-main {
  width: 858px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.checkout-main .main-title {
  font-family: var(--font);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;

  color: #041e42;
}
.checkout-main .double-input-box {
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.double-input-box .double-input {
  width: 413px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.checkout-main .double-input label,
.checkout-main .input-box label {
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}
.checkout-main .double-input input,
.checkout-main .input-box input,
.checkout-main .input-box select {
  margin-top: 5px;
  padding: 0px 15px;
  width: 100%;
  height: 55px;

  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;

  color: #626974;
}
.checkout-page .checkout-main .input-box {
  margin-top: 20px;
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
}
.checkout-page .input-box textarea {
  padding: 20px;
  margin-top: 5px;
  width: 100%;
  height: 257px;

  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  font-family: var(--font);
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;

  color: #041e42;
}
.checkout-page .checkout-frame .kantiner .checkout-order-main {
  width: 452px;
  height: auto;

  display: flex;
  flex-direction: column;
}
.checkout-page .checkout-order-main .my-order-box {
  padding: 30px 25px;
  width: 100%;
  height: 376px;

  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}
.checkout-page .checkout-order-main .my-order-title {
  margin-bottom: 20px;
  display: flex;

  font-family: var(--font);
  font-style: normal;
  font-size: 20px;
  font-weight: 500;
  line-height: 29px;

  color: #041e42;
}
.checkout-page .my-order-box .order-product-info {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  span {
    font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

    color: #041e42;
  }
}
.checkout-page .my-order-box .spec-info-box {
  width: 100%;
  height: 55px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #eaeaea;

  span {
    font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 35px;

    color: #041e42;
  }
}
.checkout-page .checkout-order-main .check-box {
  margin: 30px 0px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;

  input {
    margin-right: 13px;
    width: 15px;
    height: 16px;

    color: #041e42;
  }
  span {
    font-family: var(--font);
    font-style: normal;
    font-size: 15px;
    font-weight: 400;
    line-height: 22px;

    color: #041e42;
  }
}
.checkout-page .checkout-order-main a {
  width: 100%;
  height: 52px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  background: #f5c34b;
  border: 1px solid #f5c34b;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
}
.checkout-page .checkout-order-main a button {
  border: none;
  outline: none;
  background: none;

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #000000;
}
