.home-page {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}
/* header-frame */
.header-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header-frame .kantiner {
  flex-direction: row;
}
.header-frame .kantiner .header-left {
  width: 875px;
  height: 508px;
  position: relative;
  background-color: #0053f6;
  background-image: url("../image/icons/header_bg.svg");
  padding: 15px;
  border-radius: 5px;
}
.header-frame .header-left .header-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header-frame .header-content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header-frame .header-content span {
  width: 428px;
  margin-top: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}
.header-frame .header-content p {
  margin-top: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.header-frame .header-content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 6px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header-frame .header-content img {
  position: absolute;
  right: 10px;
}
.header-frame .kantiner .header-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-frame .header-right .header-box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.header-frame .header-right .box-left {
  margin-left: 37px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-frame .box-left span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}
.header-frame .box-left p {
  margin: 10px 0;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.header-frame .box-left a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header-frame .box-left .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background-color: #041e42;
}
.header-frame .box-left .hover-border2 {
  margin-top: 3px;
  width: 127.33px;
  height: 2px;
  background-color: #041e42;
}
.header-frame .header-box .box-right {
  width: 50%;
}
.header-frame .box-right img {
  width: 100%;
  height: 100%;
}
/* header-frame */
/* service-frame */
.home-page .service-frame {
  position: relative;
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.service-frame .kantiner {
  flex-direction: row;
}
.service-frame .kantiner .service-box {
  width: 25%;
  height: 86px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #eaeaea;
}
.service-frame .service-box img {
  width: 35px;
  height: 35px;
}
.service-frame .service-box .service-content {
  margin-left: 14px;
  display: flex;
  flex-direction: column;
}
.service-frame .service-content span {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: #041e42;
}
.service-frame .service-content p {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #626974;
}
/* service-frame */
/* shop_category_frame */
.shop_category_frame {
  position: relative;
  margin-top: 90px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.shop_category_frame .kantiner {
  flex-direction: column;
}
.shop_category_frame .kantiner .category-top {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.shop_category_frame .category-top span {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 40px;
  color: #041e42;
}
.shop_category_frame .category-top a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.shop_category_frame .category-top a:hover {
  border-bottom: 2px solid #041e42;
}
.shop_category_frame .kantiner .category-wrapper {
  margin-top: 30px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.shop_category_frame .category-wrapper .category-box {
  width: 142px;
  height: auto;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.shop_category_frame .category-box .category-img-box {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eaeaea;
  border-radius: 150px;
}
.shop_category_frame .category-box .category-img-box:hover {
  outline: 1px solid #041e42;
}
.shop_category_frame .category-box span {
  margin-top: 15px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #041e42;
}

/* shop_category_frame */
