.heme-page {
  display: flex;
  flex-direction: column;
}
.header-frame {
  position: relative;
  margin-top: 47px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}
.header-frame .kantiner {
  flex-direction: row;
}
.kantiner .header-left {
  width: 875px;
  height: 508px;
  position: relative;
  background-color: #0053f6;
  background-image: url("../image/icons/header_bg.svg");
  padding: 15px;
}
.header-left .header-content {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
}
.header-content div {
  width: 104px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5c34b;
  border-radius: 6px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 22px;
  color: #041e42;
}
.header-content span {
  width: 428px;
  margin-top: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 87px;
  color: #ffffff;
}
.header-content p {
  margin-top: 10px;
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #ffffff;
}
.header-content a {
  margin-top: 20px;
  width: 140px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  border-radius: 6px;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.header-content img {
  position: absolute;
  right: 10px;
}
.kantiner .header-right {
  position: relative;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header-right .header-box {
  width: 422px;
  height: 240px;
  display: flex;
  flex-direction: row;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.header-right .box-left {
  margin-left: 37px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.box-left span {
  font-family: "jost";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  color: #0053f6;
}
.box-left p {
  margin: 10px 0;
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 38px;
  color: #041e42;
}
.box-left a {
  font-family: "jost";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #041e42;
}
.box-left .hover-border {
  margin-top: 3px;
  width: 32px;
  height: 2px;
  background-color: #041e42;
}
.header-box .box-right {
  width: 50%;
}
.box-right img {
  width: 100%;
  height: 100%;
}
