.receive-page {
  margin-bottom: 60px;
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  .page-router {
    margin: 20px 0px;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: center;

    .kantiner {
      flex-direction: row;

      div {
        font-family: var(--font);
        font-style: normal;
        font-size: 14px;
        font-weight: 400;
        line-height: 22px;

        color: #041e42;
      }
      .drop {
        margin: 0px 10px;
      }
      .active {
        color: #626974;
      }
    }
  }
}
.receive-page .title-div {
  margin-top: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  span {
    margin-top: 10px;

    font-family: var(--font);
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;

    color: #041e42;
  }
  p {
    margin-top: 10px;

    font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;

    color: #041e42;
  }
  img {
    width: 80px;
    height: 80px;
  }
}
.receive-page .order-main-info {
  margin-top: 40px;
  padding: 35px 120px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;

  background: #ffffff;
  border: 1px dashed #626974;
  border-radius: 6px;

  .info-box {
    display: flex;
    flex-direction: column;

    span {
      font-family: var(--font);
      font-style: normal;
      font-size: 16px;
      font-weight: 400;
      line-height: 28px;

      color: #041e42;
    }
    p {
      font-family: var(--font);
      font-style: normal;
      font-size: 16px;
      font-weight: 500;
      line-height: 28px;

      color: #041e42;
    }
  }
}
.receive-page .order-detail-box {
  margin-top: 30px;
  padding: 30px 70px;
  width: 1320px;
  height: auto;

  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  background: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;

  .box-title {
    margin-bottom: 20px;

    font-family: var(--font);
    font-style: normal;
    font-size: 20px;
    font-weight: 500;
    line-height: 29px;

    color: #041e42;
  }
  .order-detail-main {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    .border-bott {
      border-bottom: 1px solid #eaeaea;
    }
    .border-top {
      border-top: 1px solid #eaeaea;
    }

    .big-height {
      width: 100%;
      height: 55px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      span {
        font-family: var(--font);
        font-style: normal;
        font-size: 16px;
        font-weight: 500;
        line-height: 35px;

        color: #041e42;
      }
    }

    .other-div {
      width: 100%;
      height: 55px;

      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}
