.signup-frame {
  width: 100%;
  height: 1899px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: #eaeaea;
}

.signup-frame .form-boxes {
  width: 744px;
  height: 831px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background: #ffffff;
}

.form-boxes .form-box {
  width: 609px;
  height: 748px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-family: var(--font);
    font-style: normal;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;

    color: #041e42;
  }
}

.form-box form {
  width: 609px;
  height: 675px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
form .input-box {
  width: 100%;
  height: 91px;

  display: flex;
  flex-direction: column;
  gap: 6px;
}
form .input-box label {
  font-family: var(--font);
  font-style: normal;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;

  color: #041e42;
}

form .input-box input {
  padding: 25px;
  width: 100%;
  height: 56px;

  box-sizing: border-box;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  background: #ffffff;
  text-transform: capitalize;
}
form .input-box:hover input {
  border: 1px solid #041e42;
}
form a {
  width: 100%;
  height: 52px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  border: 1px solid #f5c34b;
  border-radius: 6px;
  box-shadow: 0px 5px 20px 0px rgba(245, 195, 75, 0.15);
  background: #f5c34b;

  font-family: var(--font);
  font-style: normal;
  font-size: 15px;
  font-weight: 500;
  line-height: 22px;

  color: #041e42;
}

form .info {
  width: 100%;
  height: 29px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  span {
    font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;

    color: #041e42;
  }
  strong {
    font-family: var(--font);
    font-style: normal;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;

    color: #041e42;
  }
}
form .chiziq-box {
  width: 100%;
  height: 41px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  div {
    width: 100%;
    height: 1px;

    background: #eaeaea;
  }

  span {
    width: 66px;
    height: 41px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-family: var(--font);
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;

    color: #041e42;
  }
}
form .login-media-box {
  width: 100%;
  height: 46px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  a {
    width: 132px;
    height: 46px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: 1px solid #1967d2;
    border-radius: 8px;
    background: #ffffff;

    color: rgba(25, 103, 210, 1);
    font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;

    color: #1967d2;
  }
  .google {
    border: 1px solid #d93025;
    border-radius: 8px;
    background: #ffffff;

    font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;

    color: #d93025;
  }
  .twitter {
    border: 1px solid #2d9adc;
    border-radius: 8px;
    background: #ffffff;

    font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;

    color: #2d9adc;
  }
  .apple {
    border: 1px solid #041e42;
    border-radius: 8px;
    background: #ffffff;

    font-family: var(--font);
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-transform: capitalize;

    color: #041e42;
  }
}
